*{
	padding: 0%;
	margin: 0%;
	box-sizing: border-box;
}

html,body {
	height: 100%;
}

body {
	 background: linear-gradient(135deg, #4AB1FF, #2D5CFE);
	font-family: "Roboto", sans serif;
}

img {
	margin-left: 38vw;
	padding-bottom: 3vh;
}

h1{
	text-align: center;
	font-weight: bold;
}

ol{
	 list-style: none;
}

/* l'affichage du formulaire dans la page*/
.form{
	display: flex;
	height: 10vh;
	font-size: 3vw;
	margin-bottom: 3vh;
}
/* le premier input */
.champ{
	width: 82vw;
	background-color: #9fc6c7;
	font-size: 2vw;
	padding-left: 10px;
	color: white;
}



/* le second input */
.btnAdd{
	width: 17vw;
	cursor: pointer;
	font-size: 3vw;
	font-weight: bold;
	transition: all 0.5S;

}
.btnAdd:active{
	background-color: green;
}

.champ, .btnAdd{
	border: 2px solid teal;
	border-radius: 10px;
}



/* affichage de la balise li */
li{
	background-color: #7bc7c6;
	color: #5a7b81;
	margin-bottom: 5px;
	border-radius: 5px;
	font-size: 2vw;
	align-items: center;
	color: white;
}



/* changement du pointeur sur les bontons */
.click,.fair, .color3{
	cursor: pointer;
}

 /* Affichage du texte du champ.value */
.texte{
	display: inline-block;
	width: 50vw;
	word-wrap: break-word;
	padding: 10px;
}

/* l'affichage des classes créer en js */
.click{
	border: 1px solid white;
	padding: 7px;
	margin-right: 15px;
	color: white;
}
.fair{
	border: 1px solid white;
	padding: 7px;
	margin-right: 15px;
	color: white;
}

.color3{
	border: 1px solid white;
	padding: 7px;
	margin-right: 15px;
	color: white;
} 

/* les couleurs une fois les boutons cliquer */
.red{
	background-color: red;
	border: 4px solid white;
	padding: 10px;
	margin-right: 15px;
	color: white;
}

.orange{
	background-color: orange;
	border: 4px solid white;
	padding: 10px;
	margin-right: 15px;
	color: white;
}

.green{
	background-color: green;
	border: 4px solid white;
	padding: 10px;
	margin-right: 15px;
	color: white;
}

